.section_home{
    display: flex;
    align-items: center;
   margin: 5px;
   position: relative;
  
}
.section_home h2{
 transform: translateY(-50%);
 z-index: 1;
 position: absolute;
 top: 90%;
 left: 5%;
 bottom: 0;
 color: white;
 letter-spacing: 10px;
}

.section_home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; 
   
}
