.section-principal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
 
}

.item-left {
  width: 60%;
  margin: 1px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* sombra */
}
.subtitles-items {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--very-ligtt-pink);
  color: var(--very-ligtt-pink);
}
.subtitles-items p {
  font-size: 1.8rem;
}

.table {
  width: 100%;
  max-width: 910px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  color: var(--very-ligtt-pink);
}

.table caption {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.table tr {
  border: 1px solid #e9d8a6;
}

.table th,
.table td {
  font-size: 0.7em;
  padding: 8px;
  text-align: center;
}

.table button {
  cursor: pointer;
  width: 140px;
  padding: 5px;
  height: auto;
  font-size: 1em;
  border: none;
  border-radius: 8px;
}
.table svg {
  font-size: 18px;
 
  padding: 1px;
}
.table span {
  padding: 10px;
  font-size: 16px;
}

.table thead th {
  background-color: #b64926;
  color: #dddddd;
}

.table tbody tr:hover {
  background-color: #b64926;
  color: #ddd;
}

.table tbody td:hover {
  background-color: #8e2800;
}
@media screen and (max-width: 600px) {
  .container-table {
    padding-top: 100px;
  }
  .table {
    border: 0px;
  }
  .table caption {
    font-size: 22px;
  }
  .table thead {
    display: none;
  }
  .table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ee9b00;
    display: block;
  }
  .table th,
  .table td {
    font-size: 12px;
  }
  .table td {
    display: block;
    border-bottom: 1px solid #ee9b00;
    text-align: right;
  }
  .table td:last-child {
    border-bottom: 0px;
  }
  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }
}
