.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 20px;
  color: var(--hospital-green);
  transform: translateY(-50%);
  z-index: 1; /* asegúrando de que el icono está encima de la entrada */
}

.buscador {
  display: flex;
  align-items: center;
  margin-left: 100px;
  position: relative;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  padding-left: 30px; /*Ajuste el relleno para acomodar el icono */
  border-radius: 6px;
  border: 1px solid var(--hospital-green);
}
input[type="text"]:focus{
  outline: none; /* Eliminar el borde de enfoque */
  border-color: var(--hospital-green)
}
