.div-right {
  width: 60%;
  height: auto;
  color: var(--very-ligtt-pink);
  margin-top: 3%;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* sombra */
}
.items-right {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.items-right p {
  line-height: 70px;
}
.order-formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
}
.div-right h2 {
  text-align: center;
  border-bottom: 2px solid var(--very-ligtt-pink);
  font-size: 1.8rem;
}
.div-right p {
  padding-left: 20px;
}
.div-right select {
  width: 252px; /* Ancho personalizado */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #8e2800; /* Borde */
  border-radius: 6px; /* Borde redondeado */
  background-color: #f9f9f9; /* Color de fondo */
  color: var(--very-ligtt-pink);
  margin-left: 5px;
  margin-top: 20px;
}
.div-right label {
  padding-left: 20px;
  line-height: 60px;
  font-weight: bold;
}
/* Estilo al hacer clic en el select */
select:focus {
  outline: none; /* Eliminar el borde de enfoque */
  border-color: #8e2800; /* Cambiar color del borde en enfoque */
}
.div-right input {
  width: 252px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 6px;
  border: 1px solid #8e2800;
}
#button-pedido {
  width: 200px;
  height: 40px;
  background: #ffb03b;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--very-ligtt-pink);
  margin-left: 30px;
  margin-top: 5%;

}
.order-total {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 20px;
  border-top: 2px solid var(--very-ligtt-pink);
}
.order-total p {
  line-height: 40px;
 
}
