.container-details {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
 margin-top: 6%;
  border:2px solid #8e2800;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* sombra */
 
}

.img-left {
  width: 40%;
  display: flex;
  justify-content: end;
  height: 100%;
}
.img-left img {
  height: 450px;
  object-fit: cover;
}
.detail-right h1 {
  text-align: left;
}
.detail-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.detail-right p {
  margin-top: 10px;
}
.agregar-cart {
  padding-top: 30px;
  display: flex;
}
.detail-right svg {
  border: 1px solid;
  padding: 4px;
  margin-left: 10px;
}
.agregar-cart span {
  margin-left: 10px;
  font-size: 1.3rem;
}
.agregar-cart button {
  margin-left: 30px;
  border-radius: 8px;
  padding: 8px;
  border: none;
  background: #468966;
 
}
.payment-methods {
  padding-top: 6px;
  padding-bottom: 20px;
}
.list-caracteristicas {
  padding-top: 30px;
}
.list-caracteristicas li {
  line-height: 30px;
 
}
